<% content_for :body_class, "profile-edit-page" %>
<div id="profile-edit-page">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, required: true, label: false, placeholder: "FIRST NAME", input_html: { autocomplete: "first_name" } %>
      <%= f.input :last_name, required: true, label: false, placeholder: "LAST NAME", input_html: { autocomplete: "last_name" } %>
      <%= f.input :phone, required: false, label: false, placeholder: "PHONE", input_html: { autocomplete: "phone" } %>
      <%= f.input :email, required: true, label: false, placeholder: "EMAIL", input_html: { autocomplete: "email" } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "LEAVE IT BLANK IF YOU DON'T WANT TO CHANGE IT",
                  required: false,
                  label: false,
                  placeholder: "NEW PASSWORD",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  label: false,
                  placeholder: "NEW PASSWORD CONFIRMATION",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "WE NEED YOUR CURRENT PASSWORD TO CONFIRM YOUR CHANGES",
                  required: true,
                  label: false,
                  placeholder: "PASSWORD",
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "UPDATE" %>
    </div>
  <% end %>
</div>
