<% content_for :body_class, "profile-page" %>
<div id="profile-page" data-controller="profile-links">
  <div id="profile-links">
    <h1 data-section="wishlist" data-action="click->profile-links#switch" data-profile-links-target="link" class="profile-link">WISHLIST</h1>
    <h1 data-section="profile" data-action="click->profile-links#switch" data-profile-links-target="link" class="profile-link active">PROFILE</h1>
    <h1 data-section="orders" data-action="click->profile-links#switch" data-profile-links-target="link" class="profile-link">ORDERS</h1>
    <%= button_to 'LOG OUT', destroy_user_session_path, method: :delete %>
  </div>
  <div id="profile-info" data-profile-links-target="section" data-section="profile" class="profile-section">
    <div id="personal-info">
      <h1>PERSONAL INFO</h1>
      <p><b>FIRST NAME</b></p>
      <p><%= @user.first_name.upcase %></p>
      <p><b>LAST NAME</b></p>
      <p><%= @user.last_name.upcase %></p>
      <p><b>EMAIL</b></p>
      <p><%= @user.email.upcase %></p>
      <p><b>PHONE</b></p>
      <p><%= @user.phone if @user.phone.present? %></p>
      <%= link_to 'EDIT PROFILE', edit_user_registration_path %>
    </div>
    <div id="measurements">
      <h1>YOUR MEASUREMENTS</h1>
      <p><b>1. CHEST: <%= @measurement.chest.to_s + " CM" if @measurement.present? & @measurement.chest.present? %></b></p>
      <p><b>2. WAIST: <%= @measurement.waist.to_s + " CM" if @measurement.present? & @measurement.waist.present? %></b></p>
      <p><b>3. HIGH HIPS: <%= @measurement.high_hips.to_s + " CM" if @measurement.present? & @measurement.high_hips.present? %></b></p>
      <p><b>4. LOW HIPS: <%= @measurement.low_hips.to_s + " CM" if @measurement.present? & @measurement.low_hips.present? %></b></p>
      <p><b>5. THIGH: <%= @measurement.thigh.to_s + " CM" if @measurement.present? & @measurement.thigh.present? %></b></p>
      <p><b>6. TORSO: <%= @measurement.torso.to_s + " CM" if @measurement.present? & @measurement.torso.present? %></b></p>
      <p><b>7. ARM LENGTH: <%= @measurement.arm_length.to_s + " CM" if @measurement.present? & @measurement.arm_length.present? %></b></p>
      <p><b>8. SHOULDER WIDTH: <%= @measurement.shoulder_width.to_s + " CM" if @measurement.present? & @measurement.shoulder_width.present? %></b></p>
      <p><b>9. UPPER ARM CIRCUMFERENCE: <%= @measurement.upper_arm_circumference.to_s + " CM" if @measurement.present? & @measurement.upper_arm_circumference.present? %></b></p>
      <p><b>10. INSEAM: <%= @measurement.inseam.to_s + " CM" if @measurement.present? & @measurement.inseam.present? %></b></p>
      <p><b>11. HEIGHT: <%= @measurement.height.to_s + " CM" if @measurement.present? & @measurement.height.present? %></b></p>
      <%= link_to 'EDIT MEASUREMENTS', edit_measurement_path(current_user.measurement) %>
    </div>
    <div id="address-book">
      <h1>ADDRESS BOOK</h1>
      <% @addresses.each do |address| %>
        <div class="address-card">
          <p><%= address.address_line1.upcase %>, <%= address.address_line2.upcase + ", " if address.address_line2.present? %><%= address.city.upcase %></p>
          <p><%= address.postal_code.upcase %></p>
          <p><%= address.state.upcase if address.state.present? %></p>
          <p><%= address.country.upcase %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div id="order-info" data-profile-links-target="section" data-section="orders" class="profile-section" style="display: none;">
    <% if @orders.present? %>
      <% @orders.each do |order| %>
        <div class="order-card">
          <p><b>ORDER</b> <%= order.id.to_s.rjust(10, '0') %></p>
          <p><%= order.status.upcase %></p>
          <% order.order_items.each do |item| %>
            <div class="profile-product-card">
              <%= image_tag item.product.primary_photo %>
              <div class="profile-product-info">
                <h6><%= item.product.name.upcase %></h6>
                <p>SIZE <%= item.size.upcase %></p>
              </div>
              <div class="profile-product-price">
                <p><%= humanized_money_with_symbol(item.product.price) %></p>
              </div>
            </div>
          <% end %>
          <p><b>TRANSACTION DATE</b></p>
          <p><%= order.created_at.strftime("%d/%m/%Y") %></p>
          <p><b>DELIVERY ADDRESS</b></p>
          <p><%= order.address_line1.upcase %>, <%= order.address_line2.upcase + ", " if order.address_line2.present? %><%= order.city.upcase %></p>
          <p><%= order.postal_code.upcase %></p>
          <p><%= order.state.upcase if order.state.present? %></p>
          <p><%= order.country.upcase %></p>
          <p><b>SUMMARY</b></p>
          <p><b>TOTAL</b></p>
          <p><%= humanized_money_with_symbol(order.total_price) %></p>
        </div>
      <% end %>
    <% else %>
      <p>YOU HAVEN'T PLACED ANY ORDERS YET</p>
      <%= link_to "CONTINUE SHOPPING", products_path %>
    <% end %>
  </div>

  <div id="wishlist" data-profile-links-target="section" data-section="wishlist" class="profile-section" style="display: none;">
    <div class="wishlist-grid">
      <% @wishlist.products.each do |product| %>
        <%= link_to product_path(product), class: "wishlist-card" do %>
          <%= image_tag product.primary_photo %>
          <div class="wishlist-product-info">
            <div>
              <h6><%= product.name.upcase %></h6>
              <p><%= humanized_money_with_symbol(product.price) %></p>
            </div>
            <button
              data-controller="wishlist"
              data-wishlist-product-id-value="<%= product.id %>"
              data-action="click->wishlist#toggle"
              class="wishlist-button">
              <i class="<%= current_user.wishlist&.products&.include?(product) ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"></i>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
