<footer>
  <div id="footer-links">
    <div class="footer-links-section">
      <%= link_to 'CONTACT', contact_path %>
      <%= link_to 'T&C', terms_path %>
      <%= link_to 'PRIVACY', privacy_path %>
    </div>
  </div>
  <div id="footer-newsletter">
    <p><b>NEWSLETTER</b></p>
    <p>SUBSCRIBE FOR 10% OFF YOUR FIRST ORDER</p>
    <%= form_with url: subscribe_to_newsletter_path, method: :post, local: true do %>
      <%= text_field_tag :email, nil, placeholder: "EMAIL" %>
      <button type="submit">SUBSCRIBE</button>
    <% end %>
  </div>
</footer>
