<nav>
  <%= link_to root_path do %>
    <%= image_tag('text-logo.png', alt: 'Text Logo') %>
  <% end %>
  <div id="navbar-links">
    <%= link_to 'HOME', root_path %>
    <%= link_to 'SHOP', products_path %>
    <%= link_to 'EXPLORE', explore_path %>
    <a href="#">CART</a>
    <% if user_signed_in? %>
      <div class="dropdown">
        <%= link_to 'PROFILE', edit_user_registration_path %>
        <div class="dropdown-content">
          <%= button_to("LOG OUT", destroy_user_session_path, method: :delete) %>
        </div>
      </div>
    <% else %>
      <%= link_to 'LOGIN', new_user_session_path %>
    <% end %>
  </div>
</nav>
