<nav data-controller="menu">
  <div id="nav-content">
    <div class="hamburger" data-action="click->menu#toggle" data-menu-target="icon" id="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <%= link_to root_path do %>
      <%= image_tag('text-logo.png', alt: 'Text Logo') %>
    <% end %>
  </div>
  <div id="navbar-links" data-menu-target="links">
    <%= link_to 'HOME', root_path %>
    <%= link_to 'SHOP', shop_path %>
    <%# <%= link_to 'EXPLORE', explore_path %>
    <%= link_to 'ABOUT', about_path %>
    <%= link_to 'FAQ', faq_path %>
    <% cart_count = @cart.cart_items.sum(:quantity) %>
    <%= link_to "CART#{" (#{cart_count})" if cart_count > 0}".html_safe, "#", data: { cart_target: 'link', action: "click->cart-overlay#show" } %>
    <% if user_signed_in? %>
      <%= link_to 'PROFILE', user_path(current_user) %>
    <% else %>
      <%= link_to 'LOGIN', new_user_session_path %>
    <% end %>
  </div>
</nav>
