<% content_for :body_class, "sign-in-page" %>
<div id="log-in-page">
  <p>LOG IN</p>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "EMAIL",
                  input_html: { autocomplete: "email" } %>
      <div class="password-log-in">
        <%= f.input :password,
                    required: true,
                    placeholder: "PASSWORD",
                    label: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= link_to 'FORGOT?', new_user_password_path %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
  <p class="sign-up-link">DON'T HAVE AN ACCOUNT? <%= link_to 'SIGN UP', new_user_registration_path %></p>
</div>
