<div id="archive-page" data-controller="carousel">
  <div id="image-modal" class="modal" data-carousel-target="modal">
    <div class="modal-content">
      <span class="close-button" data-action="carousel#close">&times;</span>
      <img id="modal-image" data-carousel-target="modalImage" src="" alt="Full Image">
    </div>
  </div>

  <div id="archive-hero">
    <div class="carousel">
      <button
        class="carousel-button left-button"
        data-action="carousel#previous"
        data-carousel-target="leftButton"
      >
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <div class="carousel-track-container">
        <ul class="carousel-track" data-carousel-target="track">
          <li class="carousel-slide" data-carousel-target="slide">
            <img src="<%= url_for(@collaboration.primary_image) if @collaboration.primary_image.attached? %>"
                alt="Primary Image"
                data-action="carousel#open">
          </li>
          <% @collaboration.images.each do |image| %>
            <li class="carousel-slide" data-carousel-target="slide">
              <img src="<%= url_for(image) %>"
                  alt="Additional Image"
                  data-action="carousel#open">
            </li>
          <% end %>
        </ul>
      </div>
      <button
        class="carousel-button right-button"
        data-action="carousel#next"
        data-carousel-target="rightButton"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    <div id="archive-footer">
      <h2 class="archive-name"><%= @collaboration.name.upcase %></h2>
      <div class="archive-description">
        <%= simple_format(@collaboration.description.upcase) %>
      </div>    </div>
  </div>
  <% if current_user&.admin? %>
    <%= link_to edit_collaboration_path(@collaboration), class: "edit-link" do %>
      <i class="fa-solid fa-edit"></i>
    <% end %>
  <% end %>
</div>
