<div id="products-page">
  <% if current_user.admin? %>
    <%= link_to new_product_path, class: "centered-link" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  <% end %>
  <div class="product-grid">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "product-card-link" do %>
        <div class="product-card">
          <%= image_tag product.primary_photo %>
          <%= product.name.upcase %><br>
          <%= product.price %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
