<div id="product-new">
  <h1>New Product</h1>

  <%= form_with model: @product, local: true, multipart: true do |form| %>
    <div class="field">
      <%= form.label :name %><br>
      <%= form.text_field :name, required: true %>
    </div>

    <div data-controller="status-toggle">
      <div class="field">
        <%= form.label :status, "Product Status" %><br>
        <%= form.select :status,
            Product::STATUSES,
            { prompt: "Select a status" }, # This is the options hash for select
            { required: true,              # This is the html_options hash
              data: {
                "status-toggle-target" => "statusSelect",
                action: "change->status-toggle#toggleFields"
              }
            }
        %>
      </div>

      <div data-status-toggle-target="regularPriceField">
        <div class="field">
          <%= form.label :price, "Price" %><br>
          <%= form.number_field :price, required: true, step: 0.01 %>
        </div>
      </div>

      <div data-status-toggle-target="salePriceFields" style="display:none;">
        <div class="field">
          <%= form.label :original_price, "Original Price" %><br>
          <%= number_field_tag :original_price, (@product.price || 0), readonly: true, step: 0.01 %>
        </div>

        <div class="field">
          <%= form.label :sale_price, "Sale Price" %><br>
          <%= form.number_field :sale_price, step: 0.01 %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :description %><br>
      <%= form.text_area :description, required: true %>
    </div>

    <div class="field">
      <%= form.label :care_instructions %><br>
      <%= form.text_area :care_instructions, required: true %>
    </div>

    <div class="field">
      <%= form.label :weight, "Weight (g)" %><br>
      <%= form.number_field :weight, step: 0.1, required: true %>
    </div>

    <div class="field">
      <%= form.label :primary_photo %><br>
      <%= form.file_field :primary_photo, required: true %>
    </div>

    <div class="field">
      <%= form.label :secondary_photo %><br>
      <%= form.file_field :secondary_photo, required: true %>
    </div>

    <div class="field">
      <%= form.label :tertiary_photo %><br>
      <%= form.file_field :tertiary_photo, required: true %>
    </div>

    <div class="field">
      <%= form.label :other_photos, "Additional Photos" %><br>
      <%= form.file_field :other_photos, multiple: true %>
    </div>

    <div class="field">
      <%= form.label :color_id, "Color" %><br>
      <%= form.collection_select :color_id, Color.all, :id, :name, prompt: "Select or add a color" %>
    </div>

    <div class="field">
      <%= form.label :new_color, "New Color" %><br>
      <%= form.text_field :new_color, placeholder: "Enter a new color" %>
    </div>

    <div class="field">
      <%= form.label :one_size, "One Size" %><br>
      <%= form.check_box :one_size %>
    </div>

    <div class="field">
      <%= form.label :position, "Display Order" %><br>
      <%= form.number_field :position, placeholder: "Enter a display order (e.g., 1)" %>
    </div>

    <div class="actions">
      <%= form.submit "Create Product" %>
    </div>
  <% end %>
</div>
