<h1>New Product</h1>

<%= form_with model: @product, local: true, multipart: true do |form| %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :care_instructions %><br>
    <%= form.text_area :care_instructions %>
  </div>

  <div class="field">
    <%= form.label :primary_photo %><br>
    <%= form.file_field :primary_photo %>
  </div>

  <div class="field">
    <%= form.label :secondary_photo %><br>
    <%= form.file_field :secondary_photo %>
  </div>

  <div class="field">
    <%= form.label :tertiary_photo %><br>
    <%= form.file_field :tertiary_photo %>
  </div>

  <div class="field">
    <%= form.label :other_photos, "Additional Photos" %><br>
    <%= form.file_field :other_photos, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "Create Product" %>
  </div>

<% end %>
