<div id="product-page" data-controller="product-carousel">
  <div class="product-full">
    <div class="product-image"
      data-product-carousel-images-value="<%= @image_urls.to_json %>"
      data-product-carousel-target="image">
      <div class="carousel-circles" data-product-carousel-target="indicators"></div>
    </div>
    <div class="product-main-info"
        data-product-carousel-target="mainInfo"
        style="background-image: url('<%= @product.secondary_photo.url %>')"
        data-controller="cart custom-size"
        data-custom-size-logged-in="<%= user_signed_in? %>"
        data-custom-size-has-measurements="<%= current_user&.has_measurements? %>">
      <h3><b><%= @product.name.upcase %></b></h3>
      <h4 data-custom-size-target="price" data-base-price="<%= @product.price %>">
        £<%= humanized_money_with_symbol(@product.price).sub("£", "") %>
      </h4>
      <% if %w[sold_out unavailable].include?(@product.status) %>
        <button type="button" class="disabled" disabled><%= @product.status.humanize.upcase %></button>
      <% else %>
        <%= form_with url: add_item_cart_path(@cart), method: :post, data: { action: "submit->cart#addItem" } do %>
          <div class="product-sizes">
            <select id="size-select" name="size" required data-custom-size-target="sizeSelect" data-action="change->custom-size#handleSizeChange">
              <% if @product.one_size? %>
                <option value="ONE SIZE" selected>ONE SIZE</option>
              <% else %>
                <option value="" disabled selected>SELECT SIZE</option>
                <option value="2XS">2XS</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="2XL">2XL</option>
                <option value="CUSTOM">CUSTOM</option>
              <% end %>
            </select>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <p id="guest-message" class="d-none"><b>PLEASE <%= link_to "CREATE AN ACCOUNT", new_user_registration_path %> TO ENTER YOUR MEASUREMENTS</b></p>
          <p id="missing-measurements-message" class="d-none">
            <% if current_user&.measurement %>
              <b>PLEASE <%= link_to "ENTER YOUR MEASUREMENTS", edit_measurement_path(current_user.measurement) %> TO PROCEED WITH YOUR CUSTOM ORDER</b>
            <% else %>
              <b>PLEASE <%= link_to "CREATE AN ACCOUNT", new_user_registration_path %> TO ENTER YOUR MEASUREMENTS</b>
            <% end %>
          </p>
          <%= hidden_field_tag :product_id, @product.id %>
          <div data-custom-size-target="measurementMessage" class="d-none"></div>
          <button type="submit" data-custom-size-target="addButton">ADD TO CART</button>
        <% end %>
      <% end %>
      <p><%= @product.description.upcase %></p>
      <span data-custom-size-target="price" data-base-price="<%= @product.price %>" class="d-none">£<%= @product.price %></span>
    </div>
    <div class="product-secondary-info" data-product-carousel-target="secondaryInfo" style="background-image: url('<%= @product.tertiary_photo.url %>')" data-controller="product-secondary-info">
      <h3 data-action="click->product-secondary-info#toggle" data-target-id="how-to-care-content">
        HOW TO CARE <i class="fa-solid fa-chevron-down"></i>
      </h3>
      <div id="how-to-care-content" data-product-secondary-info-target="content" class="d-none">
        <p><%= @product.care_instructions.upcase %></p>
      </div>
      <h3 data-action="click->product-secondary-info#toggle" data-target-id="size-guide-content">
        SIZE GUIDE <i class="fa-solid fa-chevron-down"></i>
      </h3>
      <div id="size-guide-content" data-product-secondary-info-target="content" class="d-none">
        <table class="size-guide-table">
          <thead>
            <tr>
              <th>SIZE</th>
              <th>CHEST</th>
              <th>WAIST</th>
              <th>HIPS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2XS</td>
              <td>80</td>
              <td>64</td>
              <td>88</td>
            </tr>
            <tr>
              <td>XS</td>
              <td>84</td>
              <td>68</td>
              <td>92</td>
            </tr>
            <tr>
              <td>S</td>
              <td>88</td>
              <td>72</td>
              <td>96</td>
            </tr>
            <tr>
              <td>M</td>
              <td>92</td>
              <td>76</td>
              <td>100</td>
            </tr>
            <tr>
              <td>L</td>
              <td>96</td>
              <td>80</td>
              <td>104</td>
            </tr>
            <tr>
              <td>XL</td>
              <td>100</td>
              <td>84</td>
              <td>108</td>
            </tr>
            <tr>
              <td>2XL</td>
              <td>104</td>
              <td>88</td>
              <td>112</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3 data-action="click->product-secondary-info#toggle" data-target-id="made-to-order-content">
        MADE TO ORDER <i class="fa-solid fa-chevron-down"></i>
      </h3>
      <div id="made-to-order-content" data-product-secondary-info-target="content" class="d-none">
        <p>MOST SHERS STUDIOS PIECES ARE MADE-TO-ORDER, THEREFORE WAITING TIME MAY VARY FROM 7 TO 35 WORKING DAYS.</p>
        <p>ONCE THE PIECE IS COMPLETE AND SHIPPED YOU WILL RECEIVE AN UPDATE EMAIL WITH AN ESTIMATED ARRIVAL TIME.</p>
        <p>FOR CUSTOM SIZE/COLOUR/DESIGN PLEASE EMAIL <a href="mailto:shers.studios@outlook.com">SHERS.STUDIOS@OUTLOOK.COM</a></p>
        <p>ALL CUSTOM ORDERS WILL INCUR A FEE OF 20%.</p>
      </div>
    </div>
  </div>
</div>
