<!DOCTYPE html>
<html>
  <head>
    <title>SheAndHers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'logo-black.jpeg' %>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>" data-controller="cart-overlay">
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'carts/cart_overlay' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
