<!DOCTYPE html>
<html>
  <head>
    <title>SheAndHers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'logo-black.jpg' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>" data-controller="cart-overlay">
    <%= render 'shared/navbar' %>
    <% if notice.present? %>
      <p class="notice" data-controller="flash" data-action="click->flash#close">
        <%= notice.upcase %><span class="close" data-flash-target="close">&times;</span>
      </p>
    <% end %>

    <% if alert.present? %>
      <p class="alert" data-controller="flash" data-action="click->flash#close">
        <%= alert.upcase %><span class="close" data-flash-target="close">&times;</span>
      </p>
    <% end %>
    <%= render 'carts/cart_overlay' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
